@use "../abstracts" as *;

.component-modal {
  display: none;
  position: absolute;
  .modal-dimm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $zindex-dimm;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 1s;
  }

  .modal-container {
    margin: auto;
    @include rem(padding, 32 24);
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    @include rem(width, 480);
    @include rem(border-radius, 10);
    z-index: $zindex-modal;
    background-color: rgba(250, 250, 250);
    @include f18;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    //opacity: 0;
    .modal-header {
      width: 100%;
      .modal-tit {
        @include rem(border-radius, 10);
        color: $font-111111;
        @include f18(600);
      }
      + .modal-content {
        @include rem(margin, 24 0 0);
      }
    }
    .modal-content {
      width: 100%;
      text-align: center;
      @include rem(margin, 48 0 40);
      @include rem(border-radius, 10);
      @include f16;
      color: $font-333333;
      overflow-y: auto;
      .modal-info {
        @include rem(margin-top, 4);
        @include f14;
        color: $font-555555;
      }
      .content-tit {
        color: $font-111111;
        @include f18(600);
        + .content-txt {
          @include rem(margin-top, 8);
        }
      }
      .content-txt {
        display: block;
        color: $font-111111;
        @include f16();
      }
    }

    .component-btns {
      width: 100%;
      .btn {
        @include rem(height, 56);
      }
    }
    .btn-group {
      margin-top: auto;
      display: flex;
      width: 100%;
      .btn {
        display: block;
        width: 100%;
        @include rem(height, 56);
        @include f16;
        color: $font-ffffff;
        background-color: $bg-4051b8;
        @include rem(border-radius, 30);
        &.btn-close {
          color: $font-333333;
          background-color: $bg-eeeeee;
        }
        & + .btn {
          @include rem(margin-left, 16);
        }
      }
    }

    .modal-close {
      position: absolute;
      @include rem(top, 32);
      @include rem(right, 24);
      @include rem(width, 24);
      @include rem(height, 24);
      background: url("pathImages/icon/ico_close.svg") center center no-repeat;
      background-size: 100% auto;
      pointer-events: all;
    }
  }

  &.modal-full {
    .modal-container {
      width: 100%;
      height: 100%;
      border-radius: 0;
      .modal-content {
        max-height: 100%;
      }
    }
  }
  &.modal-bottom {
    .modal-container {
      @include rem(padding, 50 30 20);
      @include rem(border-radius, 10 10 0 0);
      width: 100%;
      max-height: 100%;
      top: initial;
      bottom: 0;
      left: 0;
      transform: translateX(0);

      .modal-slide {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include rem(height, 50);
        .slide-bar {
          display: inline-block;
          @include rem(width, 50);
          @include rem(height, 10);
          @include rem(border-radius, 20);
          background-color: $bg-2b2b2b;
        }
      }
      .modal-content {
        max-height: 100%;
      }
    }
  }
  // 휴대폰 인증
  &.certify {
    .modal-container {
      .modal-content {
        @include rem(margin, 24 0 0);
        .component-form {
          .form-element {
            .form-group {
              align-items: baseline;
            }
            .component-input {
            }
            .btn-confirm {
              @include rem(width, 120);
              @include rem(height, 48);
            }
          }
        }
        .component-btns {
          @include rem(margin-top, 12);
          text-align: right;
          .btn-resend {
            color: $font-111111;
            @include f14(600);
            text-decoration: underline;
            text-underline-position: from-font;
          }
        }
      }
    }
  }
  // 비밀번호 변경
  &.change-password {
    .component-form {
      .form-element {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
      .form-group {
        width: 100%;
      }
    }
    .component-btns {
      @include rem(margin-top, 40);
    }
  }
  // 검색 팝업
  &.search {
    .modal-container {
      top: auto;
      bottom: 0;
      height: calc(100vh - 80px);
      @include rem(padding, 40 24);
      background: $bg-ffffff;
      justify-content: initial;
      transform: translate(-50%, 0);
      .modal-content {
        @include rem(max-width, 720);
        @include rem(padding-right, 12);
        margin: 0 auto;
        text-align: left;
        &.search-gruop {
          .search-area {
            .search-tit {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: space-between;
              .type-tit {
                color: $font-111111;
                @include f18(700);
              }
              .search-delete {
                color: $font-666666;
                @include f14();
              }
            }
            .tag-list {
              @include rem(margin-top, 16);
              .tag {
                display: inline-flex;
                @include rem(height, 38);
                @include rem(padding, 0 16);
                @include rem(border-radius, 20);
                background: $bg-f5f6fa;
                align-items: center;
                + .tag {
                  @include rem(margin-left, 8);
                }
              }
            }
            .history-list {
              @include rem(margin-top, 16);
              .list-item {
                @include rem(padding-left, 28);
                color: $font-111111;
                @include f14();
                background: url("pathImages/icon/ico_time.svg") center left no-repeat;
                @include rem(background-size, 20 20);
                + .list-item {
                  @include rem(margin-top, 12);
                }
              }
            }
            .column-list {
              display: flex;
              @include rem(margin-top, 16);
              .column {
                width: 50%;
                .component-table {
                  tr {
                    .rank-change {
                      position: relative;
                      @include rem(margin, 0 -2);
                      &::before {
                        content: "";
                        width: 0;
                        height: 0;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                      }
                    }
                    &.up {
                      .rank-change {
                        @include rem(padding-left, 10);
                        &::before {
                          border-left: 5px solid transparent;
                          border-right: 5px solid transparent;
                          border-bottom: 8px solid #ff4444;
                        }
                      }
                    }
                    &.down {
                      .rank-change {
                        @include rem(padding-left, 10);
                        &::before {
                          border-left: 5px solid transparent;
                          border-right: 5px solid transparent;
                          border-top: 8px solid #4444ff;
                        }
                      }
                    }
                  }
                }
                + .column {
                  @include rem(margin-left, 8);
                }
              }
            }
            + .search-area {
              @include rem(margin-top, 32);
            }
          }
        }
      }
    }
  }
}
