@use "../abstracts" as *;

/* component table */
.component-table {
  position: relative;

  // table 공통
  table {
    border-collapse: collapse;
    width: 100%;
    @include f14;
    border-bottom: 1px solid $line-eeeeee;
    border-left: 1px solid $line-eeeeee;
  }

  // table 공통 - caption 영역
  caption {
    position: absolute;
    @include rem(left, -9999);
    @include rem(width, 1);
    @include rem(height, 1);
    overflow: hidden;
  }

  // table 공통 - th,td 영역
  th,
  td {
    @include rem(padding, 7 3);
    @include f10(600);
    line-height: 1;
    border-top: 1px solid $line-eeeeee;
    border-right: 1px solid $line-eeeeee;
    border-bottom: transparent;
    text-align: center;
    vertical-align: middle;
    &.align-l {
      text-align: left;
    }
    &.align-r {
      text-align: right;
    }
  }
  th {
    color: $font-ffffff;
    border-color: $line-444444;
    border-left: 1px solid $line-444444;
    background: $bg-090a3c;
  }
  td {
    color: $font-111111;
  }

  tbody {
    th {
      position: relative;
      color: $font-111111;
      border-color: $line-eeeeee;
      background: $bg-f5f6fa;
      .component-tooltip {
        position: absolute;
        @include rem(top, 8);
        @include rem(margin-left, 8);
      }
    }
    td {
      color: $font-444444;
      font-weight: 400;
    }
  }

  tr {
    &.bg {
      background: $bg-dae1fa;
      th {
        background: $bg-dae1fa;
      }
      th,
      td {
        &:not(:last-child) {
          border-right: none;
        }
      }
    }
    &.no-data {
      td {
        @include rem(padding, 80 20);
      }
    }
  }

  .type-blur {
    position: relative;
    filter: blur(5px);
    &.lock-icon {
      cursor: pointer;
      filter: blur(0);
      .blur-area {
        filter: blur(5px);
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        @include rem(width, 40);
        @include rem(height, 40);
        background: url("pathImages/icon/ico_lock.svg") center no-repeat;
        background-size: 100% auto;
        transform: translateX(-50%);
      }
    }
  }

  // table custom - fixed 영역
  &.table-fixed {
    overflow: hidden;
    overflow-y: auto;
    @include rem(max-height, 200);
    border-bottom: 1px solid gray;
    table {
      border-collapse: separate;
      border-bottom: 0 none;
    }
    .thead-fixed {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1;
      th {
        box-shadow: 0 1px 0 0 gray;
      }
    }
  }

  // table custom - scroll 영역
  &.table-scroll {
    overflow-x: auto;
    overflow-x: scroll;
    white-space: nowrap;
    table {
      @include rem(width, 1920);
    }
  }

  // table 공통 - scrollbar
  &::-webkit-scrollbar {
    @include rem(height, 10);
    @include rem(width, 10);
  }
  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: lightgray;
  }
  &::-webkit-scrollbar-track:hover {
    background-color: gray;
  }
  &::-webkit-scrollbar-track:active {
    background-color: gray;
  }
  &::-webkit-scrollbar-thumb {
    @include rem(border-radius, 5);
    background-color: darkgray;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: black;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: black;
  }
}
