@use "../abstracts" as *;

/* component tab */
.component-tab {
  // tab 공통 -  head 영역
  .tab-head {
    display: flex;
    @include rem(padding, 4);
    background: $bg-dae1fa;
    @include rem(border-radius, 8);
    align-items: center;
  }

  // tab 공통 -  label 영역
  .tab-label {
    width: 100%;
    @include rem(padding, 6 0);
    @include f14;
    color: $font-999999;
    text-align: center;
    cursor: pointer;
    &[aria-selected="true"] {
      color: $font-111111;
      font-weight: 600;
      @include rem(border-radius, 8);
      background: $bg-ffffff;
    }
  }

  // tab 공통 -  body 영역
  .tab-body {
    position: relative;
    @include rem(margin-top, 24);
  }

  // tab 공통 -  content 영역
  .tab-content {
    display: block;
    @include f14;
    color: black;
    &.show {
      display: block;
    }
  }

  // tab scroll
  &.tab-scroll {
    .tab-head {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .tab-label {
        @include rem(min-width, 400);
      }
    }
  }
}
