@use "../abstracts" as *;

// 전체 공통
// 라운드 박스
.round-box {
  display: flex;
  height: 100%;
  @include rem(padding, 80 130);
  @include rem(border-radius, 16);
  background: $bg-ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .box-tit {
    width: 100%;
    .type-tit {
      display: block;
      width: 100%;
      color: $font-111111;
      @include f20(600);
      text-align: left;
      &.line {
        @include rem(padding-bottom, 16);
        border-bottom: 1px solid $line-111111;
      }
    }
    + .component-form {
      @include rem(margin-top, 20);
    }
    + .column-group {
      @include rem(margin-top, 20);
    }
  }
}

// 상세페이지
.datail-wrap {
  @include rem(margin-top, 80);

  // 공통
  .section {
    .section-tit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .type-tit {
        color: $font-111111;
        @include f18(600);
      }
      .right-txt {
        color: $font-666666;
        @include f12();
        + .right-txt {
          @include rem(margin-left, 24);
        }
      }
    }
    .section-content {
      @include rem(margin-top, 16);
    }
    .component-table {
      .right-txt {
        display: block;
        color: $font-666666;
        @include f12();
        text-align: right;
        + table {
          @include rem(margin-top, 16);
        }
      }
    }
    .btn-area {
      display: flex;
      @include rem(margin-top, 16);
      align-items: center;
      justify-content: right;
      .btn-more {
        @include rem(padding-right, 20);
        color: $font-444444;
        @include f14();
        background: url("pathImages/icon/ico_arr_rigth_small.svg") center right no-repeat;
        @include rem(background-size, 16 16);
      }
    }
    + .section {
      @include rem(margin-top, 48);
    }
  }

  // 기업정보
  .corporate-info-section {
    @include rem(padding, 24 32);
    @include rem(border-radius, 16);
    background: $bg-f5f6fa;
    .tit-area {
      display: flex;
      justify-content: space-between;
      .group-tit {
        @include f24(600);
      }
      .btn-download {
        @include rem(padding, 10 20);
        @include rem(border-radius, 10);
        color: $font-ffffff;
        @include f14(600);
        background: $bg-14b426;
      }
    }
    .column-group {
      display: flex;
      @include rem(margin-top, 24);
      .column-area {
        width: 50%;
        + .column-area {
          @include rem(margin-left, 24);
        }
      }
      .column-tit {
        color: $font-111111;
        @include f18(600);
      }
      .column-content {
        @include rem(margin-top, 18);
        .corporate-info {
          display: flex;
          > div {
            + div {
              @include rem(margin-left, 24);
            }
          }
          .logo-area {
            img {
              width: 100%;
            }
          }
          .list-item {
            display: flex;
            align-items: center;
            span {
              color: $font-666666;
              @include f12();
            }
            .type-tit {
              @include rem(width, 100);
            }
            .type-desc {
              color: $font-111111;
              flex: 1;
            }
            + .list-item {
              @include rem(margin-top, 4);
            }
          }
        }
        .ranking-info {
          display: flex;
          @include rem(margin-top, 24);
          .info-box {
            .box-tit {
              color: $font-111111;
              @include f14(600);
            }
            .box-ranking {
              display: flex;
              @include rem(margin-top, 16);
              align-items: center;
              .ranking-item {
                display: flex;
                align-items: center;
                flex-direction: column;
                + .ranking-item {
                  @include rem(margin-left, 8);
                }
              }
              .type-ranking {
                display: inline-flex;
                @include rem(width, 56);
                @include rem(height, 56);
                color: $font-090a3c;
                @include f12(700);
                border-radius: 50%;
                background: $bg-ffffff;
                align-items: center;
                justify-content: center;
              }
              .type-desc {
                @include rem(margin-top, 8);
                color: $font-111111;
                @include f12();
              }
            }
            + .info-box {
              @include rem(margin-left, 40);
            }
          }
        }
        .box-list {
          display: flex;
          flex-wrap: wrap;
          .list-item {
            display: flex;
            width: calc(50% - 0.8rem);
            @include rem(padding, 20 24);
            @include rem(border-radius, 16);
            background: $bg-ffffff;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            .list-tit {
              color: $font-111111;
              @include f14(600);
            }
            ul {
              @include rem(margin-top, 16);
              li {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                span {
                  color: $font-444444;
                  @include f12();
                  + span {
                    @include rem(margin-left, 20);
                  }
                }
                .type-desc {
                  color: $font-111111;
                  font-weight: 600;
                }
                + li {
                  @include rem(margin-top, 5);
                }
              }
            }
            &::marker {
              display: none;
            }
            + .list-item {
              @include rem(margin-left, 16);
            }
          }
          + .box-list {
            @include rem(margin-top, 18);
          }
        }
      }
    }
  }

  //주요 지표 변동 추이
  .chart-section {
    .chart-area {
      display: flex;
      align-items: center;
      .chart-list {
        width: calc(100% / 3 - 18px);
        + .chart-list {
          @include rem(margin-left, 28);
        }
      }
      .list-tit {
        color: $font-111111;
        @include f14(600);
      }
      .chart {
        width: 100%;
        @include rem(height, 235);
        @include rem(margin-top, 22);
        canvas {
          height: 100% !important;
        }
      }
    }
  }

  // 재무지표
  .financial-indicator-section {
    .component-table {
      thead {
        th {
          cursor: pointer;
        }
      }
      td {
        text-align: right;
      }
    }
  }

  // 채무보증
  .debt-guarantee-section {
    display: flex;
    align-items: stretch;
    .section-content {
      position: relative;
      display: flex;
      height: 100%;
      flex-direction: column;
    }
    .section-column {
      width: 100%;
      .component-table {
        + .component-table {
          @include rem(margin-top, 16);
        }
      }
      .component-btns {
        display: flex;
        @include rem(margin-top, 12);
        align-items: center;
        justify-content: space-between;
        .btn {
          + .btn {
            @include rem(margin-left, 8);
          }
        }
        .btn-more {
          color: $font-444444;
          @include f14();
        }
      }
      .new-list {
        border-top: 1px solid $line-eeeeee;
        .list-item {
          display: flex;
          @include rem(padding, 8 0);
          border-bottom: 1px solid $line-eeeeee;
          flex-direction: column;
          cursor: pointer;
          span {
            color: $font-666666;
            @include f12();
          }
          .type-tit {
            color: $font-111111;
            @include f14(600);
            + .type-info {
              @include rem(margin-top, 4);
            }
          }
        }
      }
      .btn-area {
        margin-top: 0;
      }
      &:last-child {
        @include rem(width, 330);
        .btn-area {
          position: absolute;
          @include rem(bottom, 50);
          right: 0;
        }
      }
      + .section-column {
        @include rem(margin-left, 28);
      }
    }
  }

  // 매출비율
  .sales-ratio-section {
    display: flex;
    .section-column {
      width: 50%;
      + .section-column {
        @include rem(margin-left, 28);
      }
    }
  }
}

// 로그인/회원가입
.page-login {
  background: $bg-f5f6fa;
  #content {
    height: calc(100vh - 293px);
  }
  .content-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .login-tit {
    .logo {
      @include rem(width, 346);
      @include rem(height, 52);
      background: url("pathImages/icon/ico_logo.svg") center center no-repeat;
      background-size: 100% auto;
    }
    + .component-form {
      @include rem(margin-top, 80);
    }
  }
  .round-box {
    width: 100%;
    height: auto;
    @include rem(margin-top, 80);
  }
}

.form-wrap {
  height: 100%;
  // @include rem(margin-top, 160);
  .content-inner {
    height: 100%;
  }
  .component-form {
    width: 100%;
    .btn-login {
      width: 100%;
      @include rem(height, 56);
      @include rem(margin-top, 24);
      background: $bg-090a3c;
      .btn-txt {
        color: $font-ffffff;
      }
    }
    .btn-area {
      display: flex;
      @include rem(margin-top, 24);
      align-items: center;
      justify-content: space-between;
      a {
        color: $font-666666;
        @include f16();
        &.btn-join {
          color: $font-111111;
          font-weight: 700;
          text-decoration: underline;
          text-underline-position: from-font;
        }
        + a {
          position: relative;
          @include rem(padding-left, 16);
          @include rem(margin-left, 16);
          &::before {
            content: "";
            position: absolute;
            @include rem(top, 2);
            left: 0;
            width: 1px;
            @include rem(height, 16);
            background: $bg-dddddd;
          }
        }
      }
    }
    .btn-confirm {
      @include rem(min-width, 120);
      .btn-txt {
        color: $font-090a3c;
        @include f14(400);
      }
    }
  }
  // 회원가입
  &.join {
    margin-top: 0;
  }
  &.mypage {
    .round-box {
      .column-group {
        width: 100%;
        .column {
          width: 100%;
          .column-item {
            position: relative;
            @include rem(border-radius, 10);
            background: $bg-f5f6fa;
            a {
              display: flex;
              @include rem(padding, 20);
              @include rem(border-radius, 10);
            }
            span {
              color: $font-111111;
              @include f14();
              &.type-tit {
                @include f16(600);
              }
              + span {
                @include rem(margin-top, 8);
              }
            }
            &.flex-between {
              a {
                align-items: center;
                justify-content: space-between;
                background: $bg-f5f6fa;
                flex-direction: row;
              }
            }
          }
          .component-btns {
            @include rem(margin-top, 20);
            .btns-row {
              .btn {
                width: 50%;
              }
            }
          }
          &.line {
            @include rem(margin-top, 40);
            @include rem(padding-top, 40);
            border-top: 1px solid $line-dddddd;
            + .column.line {
              @include rem(margin-top, 40);
            }
          }
          + .column {
            @include rem(margin-top, 12);
          }
        }
      }
      // 프로필 설정
      &.profile {
        .column-group {
          .column {
            .column-item {
              a {
                background: $bg-f5f6fa url("pathImages/icon/ico_arr_rigth_small.svg") center right 2rem no-repeat;
                @include rem(background-size, 16 16);
                flex-direction: column;
              }
            }
          }
        }
      }
      // 보안
      &.security {
        .column-group {
          .column {
            .column-item {
              a {
                background: $bg-f5f6fa url("pathImages/icon/ico_arr_rigth_small.svg") center right 2rem no-repeat;
                @include rem(background-size, 16 16);
                flex-direction: column;
              }
            }
          }
        }
      }
      // 관심 기럽 리스트
      &.list {
        .column-group {
          .column {
            .column-item {
              display: flex;
              @include rem(padding, 20);
              align-items: center;
              justify-content: space-between;
              a {
                padding: 0;
              }
              .btn-link {
                @include rem(padding-right, 24);
                background: url("pathImages/icon/ico_arr_rigth_small.svg") center right no-repeat;
              }
              .btn-delete {
                @include rem(width, 16);
                @include rem(height, 16);
                background: url("pathImages/icon/ico_delete.svg") center center no-repeat;
                background-size: 100% auto;
              }
            }
          }
        }
      }
      // 알림
      &.alarm {
        .column-group {
          .column {
            .column-item {
              display: flex;
              @include rem(padding, 20);
              justify-content: space-between;
              flex-direction: column;
              .component-input {
                position: absolute;
                top: 50%;
                @include rem(right, 20);
                transform: translateY(-50%);
              }
            }
          }
          .column-list {
            @include rem(margin-top, 40);
            .list-tit {
              display: block;
              @include rem(padding-bottom, 16);
              border-bottom: 1px solid $line-111111;
            }
            ul {
              @include rem(margin-top, 20);
              li {
                position: relative;
                @include rem(padding-left, 20);
                &::before {
                  content: "";
                  position: absolute;
                  @include rem(top, 8);
                  @include rem(left, 10);
                  @include rem(width, 3);
                  @include rem(height, 3);
                  border-radius: 100%;
                  background: $bg-111111;
                }
                + li {
                  @include rem(margin-top, 4);
                }
              }
            }
          }
        }
      }
    }
    .component-tab {
      .tab-content {
      }
    }
  }
}
