@use "../abstracts" as *;
// 전체 공통
// 라운드 박스
.round-box {
  display: flex;
  height: 100%;
  @include rem(padding, 80 130);
  @include rem(border-radius, 16);
  background: $bg-ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .box-tit {
    width: 100%;
    .type-tit {
      display: block;
      width: 100%;
      color: $font-111111;
      @include f20(600);
      text-align: left;
      &.line {
        @include rem(padding-bottom, 16);
        border-bottom: 1px solid $line-111111;
      }
    }
    + .component-form {
      @include rem(margin-top, 20);
    }
    + .column-group {
      @include rem(margin-top, 20);
    }
  }
}

// 메인
.main-wrap {
  @include rem(margin-top, 120);
  .content-inner {
    @include rem(max-width, 1278);
    @include rem(padding, 0 20);
  }
  .section {
    .tit-area {
      position: relative;
      display: flex;
      flex-direction: column;
      .section-label {
        color: $font-012dff;
        @include f18();
      }
      .section-tit {
        position: relative;
        @include rem(margin-top, 4);
        color: $font-111111;
        @include f40();
        .highlight {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            @include rem(bottom, -2);
            width: 100%;
            @include rem(height, 13);
            background: #64e1ff; /* 형광펜 컬러 */
            z-index: -1;
            @include rem(border-radius, 8);
          }
        }
      }
      .section-txt {
        @include rem(margin-top, 24);
        color: $font-444444;
        @include f18();
      }
      .btn-move {
        position: absolute;
        bottom: 0;
        right: 0;
        span {
          @include rem(padding-right, 20);
          color: $font-012dff;
          @include f14();
          background: url("pathImages/icon/ico_arr_rigth_small_blue.svg") center right no-repeat;
          @include rem(background-size, 16 16);
        }
      }
    }
    .img-area {
      @include rem(margin-top, 40);
      img {
        width: 100%;
      }
    }
    &.section02 {
      background: $bg-f0f2f6;
      .content-inner {
        @include rem(padding, 100 20);
      }
      .animation-area {
        position: relative;
        width: 100%;
        @include rem(height, 100);
        @include rem(margin-top, 40);
        will-change: transform;
        overflow: hidden;
        .animation-inner {
          display: flex;
          align-items: center;
          white-space: nowrap;
          animation: marquee-scroll 30s linear infinite;
        }
        .img {
          @include rem(height, 100);
          img {
            height: 100%;
          }
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          @include rem(width, 120);
          @include rem(height, 100);
          z-index: 10;
        }
        &::before {
          right: 0;
          background: linear-gradient(to right, rgba(240, 242, 246, 0) 0%, #f0f2f6 100%);
        }
        &::after {
          left: 0;
          background: linear-gradient(to left, rgba(240, 242, 246, 0) 0%, #f0f2f6 100%);
        }
      }
    }
    &.section03 {
      margin-top: 0 !important;
      background: $bg-111111;
      .content-inner {
        @include rem(max-width, 812);
        margin: 0 auto;
        @include rem(padding, 100 20);
      }
      .tit-area {
        text-align: center;
        .type-tit {
          color: $font-ffffff;
          @include f32(600);
        }
      }
      .txt-area {
        display: flex;
        @include rem(margin-top, 40);
        @include rem(padding, 32 0);
        @include rem(border-radius, 20);
        background: $bg-444444;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .ico-file {
          display: inline-flex;
          @include rem(width, 48);
          @include rem(height, 48);
          background: url("pathImages/icon/ico_file_blue.svg") center center no-repeat;
          background-size: 100% auto;
        }
        .type-txt {
          @include rem(margin-top, 16);
          color: $font-ffffff;
          @include f24(600);
        }
      }
    }
    &.section04 {
      .content-inner {
        @include rem(max-width, 1278);
        margin: 0 auto;
        @include rem(padding, 0 0 160);
      }
      .column-group {
        .column-list {
          display: flex;
          @include rem(padding, 32 40);
          @include rem(border-radius, 16);
          background: $bg-f5f6fa;
          .column {
            span {
              display: block;
            }
            .column-tit {
              color: $font-111111;
              @include f24(600);
            }
            .column-txt {
              @include rem(margin-top, 16);
              color: $font-444444;
              @include f18();
            }
            img {
              width: 100%;
            }
            &.img {
              @include rem(width, 716);
            }
            &.txt {
              flex: 1;
            }
            + .column {
              @include rem(margin-left, 28);
            }
          }
          &.reverse {
            .column {
              &.img {
                order: 2;
              }
              &.txt {
                order: 1;
              }
            }
          }
          + .column-list {
            @include rem(margin-top, 40);
          }
        }
      }
    }
    + .section {
      @include rem(margin-top, 100);
    }
  }
  // mo
  @include mobile {
    @include rem(margin-top, 24);
    .section {
      .content-inner {
        max-width: none;
      }
      .tit-area {
        .section-label {
          @include f16();
        }
        .section-tit {
          @include f24();
        }
        .section-txt {
          @include rem(margin-top, 16);
          @include f16();
        }
        .btn-move {
          position: relative;
          @include rem(margin-top, 16);
        }
      }
      .img-area {
        @include rem(margin-top, 32);
      }
      &.section02 {
        .content-inner {
          @include rem(padding, 40 20);
        }
        .animation-area {
          .img {
            @include rem(height, 76);
          }
          &::before,
          &::after {
            @include rem(height, 76);
          }
        }
      }
      &.section03 {
        .content-inner {
          @include rem(padding, 40 20);
        }
        .tit-area {
          .type-tit {
            @include f20();
          }
        }
        .txt-area {
          .type-txt {
            @include f16();
          }
        }
      }
      &.section04 {
        .content-inner {
          @include rem(padding, 0 20 80);
        }
        .column-group {
          .column-list {
            @include rem(padding, 20);
            flex-direction: column;
            .column {
              .column-tit {
                @include f18();
              }
              .column-txt {
                @include rem(margin-top, 8);
                @include f14();
              }
              &.img {
                width: auto;
                @include rem(margin-top, 24);
                order: 2;
              }
              &.txt {
                order: 1;
              }
              + .column {
                margin-left: 0;
              }
            }
            + .column-list {
              @include rem(margin-top, 16);
            }
          }
        }
      }
      + .section {
        @include rem(margin-top, 40);
      }
    }
  }
}

// 상세페이지
.datail-wrap {
  @include rem(margin-top, 80);

  // 공통
  .section {
    .section-tit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .type-tit {
        color: $font-111111;
        @include f18(600);
      }
      .right-txt {
        color: $font-666666;
        @include f12();
        + .right-txt {
          @include rem(margin-left, 24);
        }
      }
    }
    .section-content {
      @include rem(margin-top, 16);
    }
    .component-table {
      .right-txt {
        display: block;
        color: $font-666666;
        @include f12();
        text-align: right;
        + table {
          @include rem(margin-top, 16);
        }
      }
    }
    .btn-area {
      display: flex;
      @include rem(margin-top, 16);
      align-items: center;
      justify-content: right;
      .btn-more {
        @include rem(padding-right, 20);
        color: $font-444444;
        @include f14();
        background: url("pathImages/icon/ico_arr_rigth_small.svg") center right no-repeat;
        @include rem(background-size, 16 16);
      }
    }
    + .section {
      @include rem(margin-top, 48);
    }
  }

  // 기업정보
  .corporate-info-section {
    @include rem(padding, 24 32);
    @include rem(border-radius, 16);
    background: $bg-f5f6fa;
    .tit-area {
      display: flex;
      justify-content: space-between;
      .group-tit {
        @include f24(600);
      }
      .flex-box {
        display: flex;
        align-items: center;
        .btn-bookmark {
          @include rem(width, 24);
          @include rem(height, 24);
          @include rem(margin-left, 8);
          background: url("pathImages/icon/ico_bookmark.svg") center center no-repeat;
          background-size: 100% auto;
          &.on {
            background: url("pathImages/icon/ico_bookmark_on.svg") center center no-repeat;
            background-size: 100% auto;
          }
        }
      }
      .btn-download {
        @include rem(padding, 10 20);
        @include rem(border-radius, 10);
        color: $font-ffffff;
        @include f14(600);
        background: $bg-14b426;
      }
    }
    .column-group {
      display: flex;
      @include rem(margin-top, 24);
      .column-area {
        width: 50%;
        + .column-area {
          @include rem(margin-left, 24);
        }
      }
      .column-tit {
        color: $font-111111;
        @include f18(600);
      }
      .column-content {
        @include rem(margin-top, 18);
        .corporate-info {
          display: flex;
          > div {
            + div {
              @include rem(margin-left, 24);
            }
          }
          .logo-area {
            @include rem(width, 160);
            @include rem(height, 102);
            img {
              width: 100%;
              height: 100%;
            }
          }
          .list-item {
            display: flex;
            align-items: center;
            span {
              color: $font-666666;
              @include f12();
            }
            .type-tit {
              @include rem(width, 100);
            }
            .type-desc {
              color: $font-111111;
              flex: 1;
            }
            + .list-item {
              @include rem(margin-top, 4);
            }
          }
        }
        .ranking-info {
          display: flex;
          @include rem(margin-top, 24);
          .info-box {
            .box-tit {
              color: $font-111111;
              @include f14(600);
            }
            .box-ranking {
              display: flex;
              @include rem(margin-top, 16);
              align-items: center;
              .ranking-item {
                display: flex;
                align-items: center;
                flex-direction: column;
                + .ranking-item {
                  @include rem(margin-left, 8);
                }
              }
              .type-ranking {
                display: inline-flex;
                @include rem(width, 56);
                @include rem(height, 56);
                color: $font-090a3c;
                @include f12(700);
                border-radius: 50%;
                background: $bg-ffffff;
                align-items: center;
                justify-content: center;
              }
              .type-desc {
                @include rem(margin-top, 8);
                color: $font-111111;
                @include f12();
              }
            }
            + .info-box {
              @include rem(margin-left, 40);
            }
          }
        }
        .box-list {
          display: flex;
          flex-wrap: wrap;
          .list-item {
            display: flex;
            width: calc(50% - 0.8rem);
            @include rem(padding, 20 24);
            @include rem(border-radius, 16);
            background: $bg-ffffff;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            .list-tit {
              color: $font-111111;
              @include f14(600);
            }
            ul {
              @include rem(margin-top, 16);
              li {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                span {
                  color: $font-444444;
                  @include f12();
                  + span {
                    @include rem(margin-left, 20);
                  }
                }
                .type-desc {
                  color: $font-111111;
                  font-weight: 600;
                }
                + li {
                  @include rem(margin-top, 5);
                }
              }
            }
            &::marker {
              display: none;
            }
            + .list-item {
              @include rem(margin-left, 16);
            }
          }
          + .box-list {
            @include rem(margin-top, 18);
          }
        }
      }
    }
  }

  //주요 지표 변동 추이
  .chart-section {
    .chart-area {
      display: flex;
      align-items: center;
      .chart-list {
        width: calc(100% / 3 - 18px);
        + .chart-list {
          @include rem(margin-left, 28);
        }
      }
      .list-tit {
        color: $font-111111;
        @include f14(600);
      }
      .chart {
        width: 100%;
        @include rem(height, 235);
        @include rem(margin-top, 22);
        canvas {
          height: 100% !important;
        }
      }
    }
  }

  // 재무지표
  .financial-indicator-section {
    .component-table {
      thead {
        th {
          cursor: pointer;
        }
      }
      td {
        text-align: right;
      }
    }
  }

  // 채무보증
  .debt-guarantee-section {
    display: flex;
    align-items: stretch;
    .section-content {
      position: relative;
      display: flex;
      height: 100%;
      flex-direction: column;
    }
    .section-column {
      width: 100%;
      @include rem(min-height, 407);
      .component-table {
        + .component-table {
          @include rem(margin-top, 16);
        }
        &.hover {
          td {
            span {
              display: inline-block;
              @include rem(max-width, 210);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &.active {
              position: relative;
              &:hover {
                &::before {
                  content: "";
                  position: absolute;
                  @include rem(top, 30);
                  @include rem(left, 10);
                  border: 0.6rem solid transparent;
                  border-top: none;
                  border-bottom-color: rgba(1, 1, 1, 0.8);
                  z-index: 10;
                }
                &::after {
                  content: attr(data-fulltext);
                  position: absolute;
                  @include rem(top, 35);
                  left: 0;
                  background: rgba(1, 1, 1, 0.8);
                  color: $font-ffffff;
                  @include rem(padding, 6 10);
                  @include rem(border-radius, 4);
                  @include f12();
                  z-index: 10;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
      .component-btns {
        display: flex;
        @include rem(margin-top, 12);
        align-items: center;
        justify-content: space-between;
        .btn {
          + .btn {
            @include rem(margin-left, 8);
          }
        }
        .btn-more {
          color: $font-444444;
          @include f14();
        }
      }
      .new-list {
        @include rem(height, 365);
        border-top: 1px solid $line-eeeeee;
        .list-item {
          position: relative;
          @include rem(padding, 8 0);
          border-bottom: 1px solid $line-eeeeee;
          cursor: pointer;
          a {
            display: flex;
            flex-direction: column;
          }
          span {
            color: $font-666666;
            @include f12();
          }
          .type-tit {
            @include rem(max-width, 280);
            color: $font-111111;
            @include f14(600);
            @include ellipsis;
            + .type-info {
              @include rem(margin-top, 4);
            }
          }
          .type-info {
            span {
              + span {
                position: relative;
                @include rem(margin-left, 8);
                @include rem(padding-left, 8);
                &::before {
                  content: "";
                  position: absolute;
                  @include rem(top, 4);
                  @include rem(left, -1);
                  @include rem(width, 1);
                  @include rem(height, 8);
                  background: $bg-eeeeee;
                }
              }
            }
          }
          &:hover {
            .type-tit {
              &.active {
                &::before {
                  content: "";
                  position: absolute;
                  @include rem(top, 30);
                  @include rem(left, 10);
                  border: 0.6rem solid transparent;
                  border-top: none;
                  border-bottom-color: rgba(1, 1, 1, 0.8);
                  z-index: 10;
                }
                &::after {
                  content: attr(data-fulltext);
                  position: absolute;
                  @include rem(top, 35);
                  left: 0;
                  background: rgba(1, 1, 1, 0.8);
                  color: $font-ffffff;
                  @include rem(padding, 6 10);
                  @include rem(border-radius, 4);
                  @include f12();
                  z-index: 10;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
      .btn-area {
        margin-top: 0;
      }
      &:last-child {
        @include rem(width, 330);
        .btn-area {
          @include rem(margin-top, 30);
          // position: absolute;
          // @include rem(bottom, 50);
          // right: 0;
        }
      }
      + .section-column {
        @include rem(margin-left, 28);
      }
    }
  }

  // 매출비율
  .sales-ratio-section {
    display: flex;
    .section-column {
      width: 50%;
      + .section-column {
        @include rem(margin-left, 28);
      }
    }
  }
}

.page-center {
  background: $bg-f5f6fa;
  #content {
    height: calc(100vh - 293px);
  }
  .content-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .round-box {
    width: 100%;
    height: auto;
    @include rem(margin-top, 80);
  }
}

.form-wrap {
  height: 100%;
  // @include rem(margin-top, 160);
  .content-inner {
    height: 100%;
  }
  .component-form {
    width: 100%;
    .btn-login {
      width: 100%;
      @include rem(height, 56);
      @include rem(margin-top, 24);
      background: $bg-090a3c;
      .btn-txt {
        color: $font-ffffff;
        @include f18(600);
      }
    }
    .btn-area {
      display: flex;
      @include rem(margin-top, 24);
      align-items: center;
      justify-content: space-between;
      a {
        color: $font-666666;
        @include f16();
        &.btn-join {
          color: $font-111111;
          font-weight: 600;
          text-decoration: underline;
          text-underline-position: from-font;
        }
        + a {
          position: relative;
          @include rem(padding-left, 16);
          @include rem(margin-left, 16);
          &::before {
            content: "";
            position: absolute;
            @include rem(top, 2);
            left: 0;
            width: 1px;
            @include rem(height, 16);
            background: $bg-dddddd;
          }
        }
      }
    }
    .btn-confirm {
      @include rem(min-width, 120);
      .btn-txt {
        color: $font-090a3c;
        @include f14(400);
      }
    }
  }
  // 로그인
  &.login {
    .login-tit {
      .logo {
        @include rem(width, 346);
        @include rem(height, 52);
        background: url("pathImages/icon/ico_logo.svg") center center no-repeat;
        background-size: 100% auto;
      }
      + .component-form {
        @include rem(margin-top, 80);
      }
    }
  }
  // 회원가입
  &.join {
    height: auto;
    margin-top: 0;
    .content-inner {
      height: auto;
    }
    .round-box {
      height: auto;
    }
    .component-accordion {
      width: 100%;
      @include rem(padding, 20 24);
      border: 1px solid $line-eeeeee;
      @include rem(border-radius, 16);
      .collapse-tit {
        @include rem(height, 64);
        @include rem(padding, 20 0);
        background: none;
        .component-input {
          position: absolute;
          z-index: 100;
        }
      }
      .collapse-content {
        color: $font-666666;
        @include f16();
        border-bottom: none;
        background: $bg-f5f6fa;
        overflow: scroll;
      }
      .accordion-item {
        border-bottom: 0;
        &[data-state="open"] {
          .collapse-content {
            height: auto;
            @include rem(padding, 30);
            border-top: none;
          }
        }
        + .accordion-item {
          border-top: 1px solid $line-eeeeee;
        }
      }
    }
    .btn-join {
      @include rem(min-width, 230);
      @include rem(margin-top, 64);
      @include rem(padding, 14 14);
      background: $bg-090a3c;
      .btn-txt {
        color: $font-ffffff;
        @include f18(600);
      }
    }
  }
  // 내 정보
  &.mypage {
    height: auto;
    .content-inner {
      height: auto;
    }
    .component-tab {
      @include rem(margin-top, 38);
      .round-box {
        height: auto;
      }
    }
    .column-list {
      .list-tit {
        display: block;
        @include rem(padding-bottom, 16);
        border-bottom: 1px solid $line-111111;
      }
      ul {
        @include rem(margin-top, 20);
        li {
          + li {
            @include rem(margin-top, 4);
          }
        }
      }
      &.type-bullet {
        li {
          position: relative;
          @include rem(padding-left, 20);
          &::before {
            content: "";
            position: absolute;
            @include rem(top, 8);
            @include rem(left, 10);
            @include rem(width, 3);
            @include rem(height, 3);
            border-radius: 100%;
            background: $bg-111111;
          }
        }
      }
    }
    .rate-plan {
      display: flex;
      @include rem(margin-top, 64);
      align-items: stretch;
      .round-box {
        width: 50%;
        height: auto;
        justify-content: unset;
        @include rem(padding, 32 24);
        .box-tit {
          @include rem(padding-bottom, 16);
          border-bottom: 1px solid $line-111111;
          .type-tit {
            @include rem(padding-left, 32);
          }
        }
        .column-list {
          @include rem(margin-top, 40);
          .list-tit {
            padding: 0;
            @include f16(600);
            border: none;
            + ul {
              @include rem(margin-top, 12);
            }
          }
        }
        + .round-box {
          @include rem(margin-left, 12);
        }
        &:nth-child(1) {
          .box-tit {
            .type-tit {
              background: url("pathImages/icon/ico_file.svg") center left no-repeat;
              @include rem(background-size, 24 24);
            }
          }
        }
        &:nth-child(2) {
          .box-tit {
            .type-tit {
              background: url("pathImages/icon/ico_crown.svg") center left no-repeat;
              @include rem(background-size, 24 24);
            }
          }
        }
        &.my-plan {
          position: relative;
          border: 2px solid $line-012dff;
          &::before {
            content: "현재 나의 요금제";
            position: absolute;
            @include rem(top, -42);
            left: 50%;
            @include rem(padding, 5 8);
            color: $font-ffffff;
            @include f12(600);
            @include rem(border-radius, 4);
            background: $bg-090a3c;
            transform: translateX(-50%);
          }
          &::after {
            content: "";
            position: absolute;
            @include rem(top, -14);
            left: 50%;
            transform: translateX(-50%);
            @include rem(width, 6);
            @include rem(height, 4);
            background: #0d0d48; /* 네이비 */
            clip-path: polygon(50% 100%, 0 0, 100% 0);
          }
        }
      }
    }
    .round-box {
      .column-group {
        width: 100%;
        .column {
          width: 100%;
          .column-item {
            position: relative;
            @include rem(border-radius, 10);
            background: $bg-f5f6fa;
            a {
              display: flex;
              @include rem(padding, 20);
              @include rem(border-radius, 10);
            }
            span {
              color: $font-111111;
              @include f14();
              &.type-tit {
                @include f16(600);
              }
              + span {
                @include rem(margin-top, 8);
              }
            }
            &.flex-between {
              a {
                align-items: center;
                justify-content: space-between;
                background: $bg-f5f6fa;
                flex-direction: row;
              }
            }
          }
          .component-btns {
            @include rem(margin-top, 20);
            .btns-row {
              .btn {
                width: 50%;
              }
            }
          }
          &.line {
            @include rem(margin-top, 40);
            @include rem(padding-top, 40);
            border-top: 1px solid $line-dddddd;
            + .column.line {
              @include rem(margin-top, 40);
            }
          }
          + .column {
            @include rem(margin-top, 12);
          }
        }
        + .box-tit {
          @include rem(margin-top, 40);
        }
      }
      // 프로필 설정
      &.profile {
        .column-group {
          .column {
            .column-item {
              a {
                background: $bg-f5f6fa url("pathImages/icon/ico_arr_rigth_small.svg") center right 2rem no-repeat;
                @include rem(background-size, 16 16);
                flex-direction: column;
              }
            }
          }
        }
      }
      // 보안
      &.security {
        .column-group {
          .column {
            .column-item {
              a {
                background: $bg-f5f6fa url("pathImages/icon/ico_arr_rigth_small.svg") center right 2rem no-repeat;
                @include rem(background-size, 16 16);
                flex-direction: column;
              }
            }
          }
        }
      }
      // 관심 기럽 리스트
      &.list {
        .column-group {
          .column {
            .column-item {
              display: flex;
              @include rem(padding, 20);
              align-items: center;
              justify-content: space-between;
              a {
                padding: 0;
              }
              .btn-link {
                @include rem(padding-right, 24);
                background: url("pathImages/icon/ico_arr_rigth_small.svg") center right no-repeat;
              }
              .btn-delete {
                @include rem(width, 16);
                @include rem(height, 16);
                background: url("pathImages/icon/ico_delete.svg") center center no-repeat;
                background-size: 100% auto;
              }
            }
          }
        }
      }
      // 알림
      &.alarm {
        .column-group {
          .column {
            .column-item {
              display: flex;
              @include rem(padding, 20);
              justify-content: space-between;
              flex-direction: column;
              .component-input {
                position: absolute;
                @include rem(top, 30);
                @include rem(right, 20);
              }
              .type-txt {
                @include rem(padding-right, 80);
              }
            }
            + .column-list {
              @include rem(margin-top, 40);
            }
          }
          .column-list {
            .list-tit {
              color: $line-111111;
              @include f20(600);
            }
          }
        }
      }
      // 결제 내역{
      &.credit {
        .column-group {
          .column {
            .column-item {
              display: flex;
              @include rem(padding, 20);
              align-items: center;
              justify-content: space-between;

              .txt-area {
                display: flex;
                flex-direction: column;
              }
              .btn {
                @include rem(height, 48);
              }
            }
          }
        }
      }
    }
    .component-tab {
      .tab-content {
      }
    }
  }
  &.error {
    .login-tit {
      .type-tit {
        color: $font-111111;
        @include f40(600);
      }
    }
    .round-box {
      @include rem(margin-top, 40);
      @include rem(padding, 48 70);
      .ico {
        display: block;
        @include rem(width, 240);
        @include rem(height, 240);
        &.error404 {
          background: url("pathImages/icon/ico_error404.svg") center center no-repeat;
          background-size: 100% auto;
        }
        &.error403 {
          background: url("pathImages/icon/ico_error403.svg") center center no-repeat;
          background-size: 100% auto;
        }
      }
      .error-txt {
        @include rem(margin-top, 32);
        color: $font-111111;
        @include f18();
      }
      .btn {
        @include rem(width, 240);
        @include rem(height, 56);
        @include rem(margin-top, 48);
        background: $bg-090a3c;
        .btn-txt {
          color: $font-ffffff;
          @include f18(600);
        }
      }
    }
  }
}

// 검색 결과 없음
.nodata-area {
  display: flex;
  @include rem(margin-top, 100);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .ico-nodata {
    display: block;
    @include rem(width, 160);
    @include rem(height, 160);
    background: url("pathImages/icon/ico_nodata.svg") center center no-repeat;
    background-size: 100% auto;
  }
  .type-txt {
    @include rem(margin-top, 32);
    color: $font-333333;
    @include f18(700);
  }
}

// header - 검색버튼 누를 시 레이아웃 정의
@media (min-width: 1024px) and (max-width: 1300px) {
  .header {
    .gnb-wrap {
      .search-area {
        @include rem(width, 510px);
      }
      .utill-area {
        .utill-item {
          .btn-search {
            + .component-btns {
            }
          }
          .component-btns {
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1159px) {
  .component-table {
    td {
      @include rem(padding, 7 5);
    }
  }
  .datail-wrap {
    .debt-guarantee-section {
      .section-column {
        .component-table.hover {
          td {
            span {
              @include rem(max-width, 170);
            }
          }
        }
      }
    }
  }
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
