@use "../abstracts" as *;

.footer {
  background: $bg-111111;

  .footer-inner {
    @include rem(max-width, 1400);
    margin: 0 auto;
    @include rem(padding, 48 20);
  }
  .column-group {
    .column {
      display: flex;
      align-items: center;
      justify-content: space-between;
      + .column {
        @include rem(margin-top, 24);
      }
    }
    .logo-area {
      @include rem(width, 266);
      @include rem(height, 40);
      .logo {
        display: block;
        width: 100%;
        height: 100%;
        background: url("pathImages/icon/ico_logo_white.svg") center no-repeat;
        background-size: 100% auto;
      }
    }
    .info-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .list-item {
        span {
          color: $font-999999;
          @include f16();
          + span {
            position: relative;
            @include rem(margin-left, 10);
            @include rem(padding-left, 10);
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 1px;
              height: 100%;
              background: $bg-999999;
            }
          }
        }
        + .list-item {
          @include rem(margin-left, 40);
        }
      }
      + .info-list {
        @include rem(margin-top, 8);
      }
    }
    .type-copy {
      color: $font-999999;
      @include f14();
    }
    .corp-list {
      display: flex;
      align-items: center;
      .list-item {
        a {
          display: block;
          color: $font-999999;
          @include f16();
          &.youdongsan {
            @include rem(width, 148);
            @include rem(height, 26);
            background: url("pathImages/icon/ico_logo_youdongsan.svg") center no-repeat;
            background-size: 100% auto;
          }
          &.financial {
            @include rem(width, 134);
            @include rem(height, 24);
            background: url("pathImages/icon/ico_logo_financial.svg") center no-repeat;
            background-size: 100% auto;
          }
        }
        + .list-item {
          position: relative;
          @include rem(margin-left, 12);
          @include rem(padding-left, 12);
          &:before {
            content: "";
            position: absolute;
            @include rem(top, 10);
            left: 0;
            @include rem(width, 4);
            @include rem(height, 4);
            border-radius: 50%;
            background: $bg-666666;
          }
        }
      }
    }
  }
  .footer-desc {
    @include rem(margin-top, 24);
    @include rem(padding-top, 24);
    color: $font-777777;
    @include f14();
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}
