@use "../abstracts" as *;

.header {
  width: 100%;
  transition: all 0.3s ease;
  border-bottom: 1px solid $line-dddddd;
  &.on {
    transform: translate3d(0, -110%, 0);
    .header-inner {
    }
  }
  .header-inner {
    width: 100%;
    transition: all 0.3s ease;
  }

  // Header top
  .header-top {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    @include rem(padding, 10);
    .top-list {
      display: flex;
      justify-content: start;
      li {
        @include rem(margin, 0 5px);
        a {
          @include f14;
        }
      }
    }
  }

  // Header content
  .header-content {
    position: relative;
    width: 100%;
  }

  // Gnb
  .gnb-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include rem(max-width, 1680);
    margin: 0 auto;
    @include rem(padding, 24 20);

    // logo
    .gnb-logo {
      .logo {
        display: inline-block;
        @include rem(width, 213);
        @include rem(height, 32);
        background: url("pathImages/icon/ico_logo.svg") center no-repeat;
        background-size: 100%;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        margin: 0;
      }
    }

    .utill-area {
      .utill-item {
        display: flex;
        align-items: center;
        .btn-search {
          @include rem(width, 24);
          @include rem(height, 24);
          padding: 0;
          background: url("pathImages/icon/ico_search.svg") center no-repeat;
          background-size: 100% auto;
          + .component-btns {
            @include rem(margin-left, 24);
          }
        }
        a {
          @include rem(padding, 8 20);
          @include f16(700);
          @include rem(border-radius, 8);
          + a {
            @include rem(margin-left, 12);
          }
        }
      }
    }
  }
}
